<?xml version='1.0' encoding='utf-8' standalone='yes' ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     xmlns:app="http://schemas.android.com/apk/res-auto"
     xmlns:tools="http://schemas.android.com/tools">
    <supports-screens
        android:smallScreens="true" />
    <application
        android:supportsRtl="true">
    <activity-alias
          android:name="com.activity.android.ui.XynActivity"
          android:exported="true"
          android:targetActivity="com.android.activity.LxynActivity">
       </activity-alias>
    </application>
</manifest>