name: Push Ci

on:
  push:
    branches: [ "main" ]

jobs:
 test:
    runs-on: ubuntu-latest

    steps:
      - name: Runs
        uses: actions/checkout@v4
 
      - name: Jars
        uses: actions/setup-node@v4
        with:
          node-version: 20
